h2{
    color:#333;
    font-size:28px;
    letter-spacing: 2px;
}
.hero-name{
    margin-top:40px;
}
.hero-name label{
    font-size:24px;
    font-weight:bold;
}
.hero-name input{
    width:200px;
    padding:10px;
    background: #666;
    color:white;
    border:2px solid #222;
    font-size:18px;
    letter-spacing: 1px;
    font-weight:bold;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}