<div class="container-fluid">
  <div class="navbar-header navbar-inverse">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" [routerLink]="['/']">{{title}}</a>
  </div>
  <div id="navbar" class="navbar-inverse navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li><a [routerLink]="['/']">Home</a></li>
      <li><a [routerLink]="['/champions']">Champions</a></li>
      <li><a [routerLink]="['/items']">Items</a></li>
    </ul>
  </div><!--/.nav-collapse -->
</div>
<div class="container">
	<router-outlet></router-outlet>
</div>
