<h2>Table A prices</h2>
<div>
  <table width="400px">
    <tr>
      <td>The biggest currency</td>
      <td>
        <div id="divTheBiggestCurrencyCode">{{theBiggestCurrency.code}}</div>
        <div id="divTheBiggestCurrencyCurrency">{{theBiggestCurrency.currency}}</div>
        <div id="divTheBiggestCurrencyMid">{{theBiggestCurrency.mid}}</div>
      </td>
    </tr>
    <tr>
      <td>The smallest currency</td>
      <td>
        Result from exercise 3
      </td>
    </tr>
  </table>
</div>

